@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-inter: "Inter", "sans-serif";
  --color-lwsGreen: #00d991;
  --color-deepDark: #17181c;
  --color-mediumDark: #1e1f24;
  --color-lighterDark: #27292f;
}

@layer components {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.375rem;
    background-color: var(--color-lighterDark);
    padding: 0.625rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: var(--color-deepDark);
  }

  @media (min-width: 1024px) {
    .btn-primary {
      font-size: 1.125rem;
    }
  }

  .icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    background-color: #2a2a2a;
    padding: 0.375rem;
    font-weight: 500;
    color: #ffffff;
    transition: background-color 0.2s ease;
  }

  .icon-btn:hover {
    background-color: #1f1f1f;
  }

  .card {
    border-radius: 0.375rem;
    border: 1px solid #3f3f3f;
    background-color: #2e2e2e;
    padding: 1rem 1rem;
  }

  @media (min-width: 1024px) {
    .card {
      padding: 1.25rem 1.75rem;
    }
  }

  .form-control {
    margin-bottom: 1.5rem;
  }

  .form-control > * + * {
    margin-top: 0.625rem;
  }

  .auth-label {
    line-height: 1.38;
  }

  @media (min-width: 1024px) {
    .auth-label {
      font-size: 1.125rem;
    }
  }

  .auth-input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(204, 204, 204, 0.14);
    background-color: #3a3a3a;
    padding: 0.375rem;
    outline: none;
  }

  @media (min-width: 1024px) {
    .auth-input {
      padding: 0.75rem;
    }
  }

  .post-avater {
    max-width: 2.5rem;
    max-height: 2.5rem;
    border-radius: 9999px;
  }

  @media (min-width: 1024px) {
    .post-avater {
      max-height: 3.625rem;
      max-width: 3.625rem;
    }
  }

  .action-modal-container {
    position: absolute;
    top: 1.5rem;
    right: 100%;
    min-width: 200px;
    background-color: #2e2e2e;
    border-radius: 0.375rem;
    border: 1px solid #3f3f3f;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .action-modal-container > button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .action-menu-item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    color: #f3f4f6;
    transition: all 0.2s ease;
  }
}
